*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-fiolet: #4527a0;
  --clr-red6: #e53935;
  --clr-light: #fff;
  --bg-dark: #000;

  --fs-xs: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 1.5rem;
}

body {
  font-family: "Helvetica", sans-serif;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-dark);
}
body,
.stopwatch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch {
  width: 200px;
  height: 200px;
  border: 1px solid #333;
  cursor: pointer;

  border-radius: 50%;
}
.stopwatch span {
  color: var(--clr-light);
  font-size: var(--fs-lg);
}
.btn {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--clr-fiolet);
  color: var(--clr-light);
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
}
.btn.start:after,
.btn.pause:before,
.btn.pause:after {
  content: "";
  position: absolute;
}
.btn.start:after {
  top: 50%;
  left: 25%;
  transform: rotate(-90deg) translateY(-10%);
  transform-origin: top;
  border-width: var(--fs-xs);
  border-style: solid;
  border-color: var(--clr-light) transparent transparent transparent;
}
.btn.pause:before,
.btn.pause:after {
  top: 50%;
  width: 6px;
  height: 1.4rem;
  background-color: var(--clr-light);
  transform: translate(-50%, -50%);
  display: inline-block;
}
.btn.pause:before {
  left: 40%;
}
.btn.pause:after {
  left: 60%;
}

.list {
  display: flex;

  flex-direction: column-reverse;
  color: var(--clr-light);
  text-align: center;
}
.list-wrap {
  max-height: calc(50vh - 70px);
  overflow-y: auto;
}
.list > div {
  margin-top: 1rem;
  animation: fade 2s ease;
}
.list > div span {
  margin-right: 2rem;
}
.list-index {
  color: var(--clr-red6);
}
.stopwatch.isMoved {
  transform: scale(0.8);
  animation: scaling 1s ease;
}
@keyframes scaling {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
